<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Event Calender for <%= @date.strftime("%b. %d, %Y") %></h3>
      <div class="col-md-12 text-center">
        <a href="<%= @datePrev %>" class="btn btn-primary">Prev</a>
        <a href="<%= @dateNext %>" class="btn btn-primary">Next</a>
      </div>
      <table class="table table-condensed" class="event-table">
        <tr>
          <th>Times</th>
          <% @tracks.each do |track| %>
            <th><%= track.name %></th>
          <% end %>
        </tr>
        <% @time.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% @tracks.each do |track| %>
              <% trackEvent = nil %>
              <% @trackEvents[track.id].each do |te| %>
                <% if te.is_in_time_increment? time %>
                  <% trackEvent = te %>
                  <% break %>
                <% end %>
              <% end %>
              <% if trackEvent %>
                <td style="padding: 0px; height: 80px">
                  <span style="
                    height: <%= trackEvent.cell_height time %>%; 
                    width:100%; background-color:#EEE;
                    display:block;
                    overflow:auto;">
                    <%= trackEvent.name %>
                  </span>
                </td>
              <% else %>
                <td></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>